{% extends "base.html" %}

{% block title %}Profile - UAV Security ML{% endblock %}
{% block page_title %}User Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5><i class="fas fa-user"></i> Profile Information</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th width="200">Username:</th>
                        <td>{{ current_user.username }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{ current_user.email }}</td>
                    </tr>
                    <tr>
                        <th>Role:</th>
                        <td><span class="badge bg-primary">{{ current_user.role|capitalize }}</span></td>
                    </tr>
                    <tr>
                        <th>Member Since:</th>
                        <td>{{ current_user.created_at.strftime('%Y-%m-%d %H:%M') if current_user.created_at else 'N/A' }}</td>
                    </tr>
                    <tr>
                        <th>Last Login:</th>
                        <td>{{ current_user.last_login.strftime('%Y-%m-%d %H:%M') if current_user.last_login else 'N/A' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
