body {
    margin: 0;
    background: #0b1120;
    color: #e5e7eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}

.alert {
    margin-top: 20px;
    padding: 15px;
    font-weight: bold;
}

.attack { background: #dc2626; }
.normal { background: #16a34a; }

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #334155;
    padding: 10px;
}
